= simple_form_for(@client) do |f|
  = f.error_notification
  .inputs
    = f.input :name
    = f.input :recruiter_id, as: :hidden, :input_html =>{ value: current_user.id}
  .actions
    = f.button :submit