%h1 Listing Projects of #{@client.name}
%table
  %tr
    %th Name
    %th Client
    %th
    %th
    %th
  - @projects.each do |project|
    %tr
      %td= project.name
      %td= Client.find(project.client_id).name
      %td= link_to 'Show', client_project_timesheets_path(project.client_id, project.id)
      %td= link_to 'Edit', edit_client_project_path(project.client_id, project.id)
      %td= link_to 'Assign Consultant', assign_consultant_path(project.id)
      %td= link_to 'Destroy', client_project_path(project.client_id, project.id), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Project', new_client_project_path