%h1 Listing timesheets of #{@project.name} Project
%table
  %thead
    %tr
      %th User
      %th Start
      %th End
      %th
      %th
      %th
  %tbody
    - @timesheets.each do |timesheet|
      %tr
        %td= User.find(timesheet.user_id).name
        %td= timesheet.start_date
        %td= timesheet.end_date
        %td= link_to 'Show', client_project_timesheet_path(@project.client_id, @project.id, timesheet)
        %td= link_to 'Edit', edit_client_project_timesheet_path(@project.client_id, @project.id, timesheet)
        %td= link_to 'Destroy', client_project_timesheet_path(@project.client_id, @project.id, timesheet), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Timesheet', new_client_project_timesheet_path